* {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.container {
  /* max-width: 3000px;*/
  background-image: url("bling bg.png");
  height: 100%;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  display: grid;
  grid-template-columns: 210px 2fr;

  /*background-color: rgb(194, 218, 210);*/
  gap: 20px;
  grid-template-columns: 210px 1fr;
}
.logo {
  width: 200px;
  height: 200px;
  float: right;
  border: 10px;
  margin: 20px;
}
/*
.searching {
  color: rgba(58, 36, 9, 0.674);
  font-family: "Bodoni Moda", serif;
  font-weight: 600;
  float: left;
  padding: 15px;
  margin-right: 100px;
  width: 440px;
  size: 100px;

  position: relative;
  top: 110px;

  background-color: rgba(255, 255, 255, 0);
}
.searchlogo {
  top: 120px;
}*/
.options {
  font-size: 40px;
  position: absolute;
  border: 10px;
  margin-left: 230px;
  margin-top: 100px;
  margin-right: 1px;
  float: right;
  padding-bottom: 20px;
  right: 30px;
}

.opt {
  font-family: "Bodoni Moda", serif;
  font-weight: 600;
  margin: 10px;
  margin-bottom: 9px;
  padding: 3px;
  color: rgba(58, 36, 9, 0.674);
  text-decoration: none;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  text-decoration: wavy;
}
.opt:before {
  content: "";
  position: absolute;
  background-color: rgb(100, 69, 26);

  left: 0px;
  bottom: -0.3rem;
  height: 3px;

  width: 0;
  transition: 0.3s ease-in-out;
}
.opt:hover:before {
  content: "";
  position: absolute;
  background-color: rgb(100, 69, 26);
  left: 0;
  bottom: -0.3rem;
  height: 3px;

  width: 100%;
}
/*
main {
  display: grid;
  grid-template-columns: 900px 1fr;
  gap: 70px;
}*/
.left {
  margin-top: 20px;
  font-family: "Bodoni Moda", serif;
  color: rgba(58, 36, 9, 0.674);
  text-align: justify;
  font-size: 10px;
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
  margin-left: 10px;

  font-size: 15px;
}
.para {
  margin-left: 50px;
  top: 50px;
  font-size: 15px;
}
.myslide {
  border: 1px solid rgba(58, 36, 9, 0.674);
  border-radius: 100%;
  max-width: 300px;
}
.grid {
  display: grid;
  grid-template-columns: 400px 1fr;
  font-size: 19px;
}

.footer {
  margin: auto;
  margin-left: 100px;
  /* background-color: rgba(207, 177, 236, 0.616);*/
  /* border: 1px solid black;*/
}
.social {
  height: 15px;
  position: relative;
  border: 10px;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 1px;
  padding: 8px;
  right: 30px;

  /*background-color: brown;*/
}
.social:hover {
  transform: scale(1.5);
}
/*
.aside {
  background-image: url("model\ nobg.png");
  width: 500px;
  height: 900px;

  align-items: end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/
@media (width: 360px) {
  .container {
    display: grid;
    background-size: 0px;
    width: 100%;
  }
  .options {
    display: none;
  }
  .para {
    display: inline;
  }
  .social {
    padding: 0px;
    margin: 1px;
  }
}
